html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
}

h1 {
    margin: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-weight: 600;
}

p {
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.text-art-2 {
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 3%;
    margin-left: 1%;
}

#art-1, #art-2 {
    background-color: #60b7ca;
    text-align: center;
    display: block;
    margin-left: 4.8%;
    margin-right: 4.8%;
    width: 90%;
    margin-top: 4%;
    border: 3px solid black;
    border-radius: 15px;
    height: fit-content;
    
}

#art-1 {
    margin-top: 9%;
}

#art-2 {
    margin-bottom: 5%;
}


.btn {
    width: 90%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.text-aside{
    font-size: 1.2rem;
    margin: 5%;
    
}

.navbar {
    font-size: 1.4rem;
    padding: 1%;
    /* background-color: transparent !important; */
    position: fixed;
    width: 100%;
    
    
}

.nav-item {
    padding-left: 5%;
    padding-right: 5%;
    min-width: fit-content;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.7rem;
    border: none;
    background-color: transparent ;
}

.navbar-nav {
    /* margin-left: 45%; */
    align-items: center;
}

.nav-link {
    transition: all 300ms;
    position: relative;
}

.nav-link:hover {
    transform: scale(1.2);
}