html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
}

.btn {
    width: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: auto;
}

h1 {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

p {
    display: inline;
}

h3, #Inicios, #Finales {
    margin-left: 35%;
}

#titulos {
    border: 1px black solid;
    height: 150px;
    width: 70%;
    display: block;
    margin: 0 auto;
}

#titulo {
    text-align: center;
    margin-top: 2%; 
}

#boton-inicios, #boton-titulos, #boton-finales {
    margin-left: 20%;
}


#art-1, #art-2, #art-3, #art-4 {
    background-color: #60b7ca;
    text-align: left;
    display: block;
    margin-left: 9%;
    margin-right: 4.8%;
    width: 80%;
    margin-top: 4%;
    border: 3px solid black;
    border-radius: 15px;
    height: fit-content;
    
}

#art-1 {
    margin-top: 9%;
}

#art-2 {
    margin-bottom: 5%;
    text-align: left;
}

#btns {
    display: flex;
    align-items: center;
}

.titulo {
    text-align: center;
}

.form-check {
    display: block;
    margin-left: 3%;
    margin-top: 2.5%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem ;

}

.btn {
    width: 55%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 3%;
}

.text-aside{
    font-size: 1.2rem;
    margin: 5%;
    
}

.navbar {
    font-size: 1.4rem;
    padding: 1%;
    /* background-color: transparent !important; */
    position: fixed;
    width: 100%;
    
    
}

.nav-item {
    padding-left: 5%;
    padding-right: 5%;
    min-width: fit-content;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.7rem;
    border: none;
    background-color: transparent ;
}

.navbar-nav {
    /* margin-left: 45%; */
    align-items: center;
}

.nav-link {
    transition: all 300ms;
    position: relative;
}

.nav-link:hover {
    transform: scale(1.2);
}